@model postest.Models.Items

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Items</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CAT_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CAT_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EMAIL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EMAIL)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ITEM_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
